body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #282a36;
  margin: 0;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #44475a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 300px;
}

input[type="text"] {
  width: 94%;
  height: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #39959f;
  border-radius: 5px;
  background-color: #6272a4;
  color: #f8f8f2;
  font-size: 20px;
  text-align: center;
}

input[type="text"]::placeholder {
  color: #f8f8f2;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  border: 2px solid #39959f;
  border-radius: 5px;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid #39959f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  cursor: pointer;
  color: #f8f8f2;
}

#result {
  margin-top: 20px;
  font-size: 20px;
  color: #f8f8f2;
}

#reset {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #50fa7b;
  color: #282a36;
  cursor: pointer;
  font-size: 16px;
}

#reset:hover {
  background-color: #f1fa8c;
}
